.petro-class{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 35px;
	color: tomato;
	background-color: turquoise;
	line-height: 1.16;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}