.petro-class{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 35px;
	color: tomato;
	background-color: turquoise;
	line-height: 1.16;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}


.rty{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 35px;
	color: tomato;
	background-color: turquoise;
	line-height: 1.16;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
.try{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 50px;
	color: brown;
	background-color: burlywood;
	letter-spacing: 0.05em;
	line-height: 1.2;
	text-transform: capitalize;

}