<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<section>
		<h6 class="petro-class">
			Hello! it's 6 class from new
		</h6>

		<div class="rty">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, assumenda quaerat officiis recusandae omnis iste deleniti nisi accusamus magni deserunt quidem autem, exercitationem incidunt natus eaque inventore ducimus vel labore?
		</div>
	</section>
</body>
</html>