<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<section>
		<h6 class="petro-class">
			Hello! it's 6 class from new
		</h6>

		<div class="try">
			Lorem ipsum dolor sit amet consectetur. adipisicing elit. Suscipit nesciunt ex eius vitae similique soluta accusantium doloremque ad tempore. tempora. sed nemo non eos quos officiis veritatis maiores est expedita!
		</div>


		<div class="try">
			Lorem ipsum dolor sit amet consectetur. adipisicing elit. Suscipit nesciunt ex eius vitae similique soluta accusantium doloremque ad tempore. tempora. sed nemo non eos quos officiis veritatis maiores est expedita!
		</div>
	</section>
</body>
</html>